<div class="app">
  {{!-- Ingredients form  --}}
  {{> ingredients/add }}
  <h2>Available Ingredients</h2>
  <div class="available-ingredients">
    <ul>
    {{#each ingredients }}
      <li>{{ name }}</li>
    {{/each }}
    </ul>
  </div>
</div>