<div class="add-form">
  <h2>Add An Ingredient</h2>
  <form class="add-ingredient">
    <input type="text" name="name" id="name">
    <input type="text" name="type" id="type">
    <button type="submit" name="Submit" id="submit-ingredient">Add Ingredient</button>
  </form>
</div>